{%extends "headerfooter.html"%}

{% block body %}

<div class = "container" style="padding-top: 5%; padding-bottom: 5%; text-align:center">
    <div class="row" style="padding-top: 5%">
        <div class="col-2" >
        </div>
        <div class="col-7" >
        <h1 style="text-align:center">Error</h1>
        </div>
        <div class="col-3" >
        </div>
    </div>
    <div class="row" style="padding-top: 5%">
        <div class="col-2" >
        </div>
        <div class="col-7" >
        <img src="{{ url_for('static', filename='img/aspyre-gui_404_mini.png')}}" alt="Error 404" class="center-image">
        </div>
        <div class="col-3" >
        </div>
    </div>
        <div class="row" style="padding-top: 5%">
        <div class="col-2" >
        </div>
        <div class="col-7" >
        <p>Oh no! It seems that you got lost: this page doesn't exist...</p>
        <a href="{{url_for('index')}}">Go back to the main page.</a>
        </div>
        <div class="col-3" >
        </div>
    </div>
</div>

{% endblock %}