<meta name="description" content="Aspyre GUI is a simple application to make Aspyre available as a service online">
<meta name="keywords" content="Aspyre, Transkribus, eScriptorium, XML ALTO">
<meta name="author" content="Alix Chagué">
<meta name="viewport" content="width=device-width, initial-scale=1.0">